body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image1 {
    background-image: url("https://picsum.photos/1200/800?image=1050");
}

.image2 {
    background-image: url("https://picsum.photos/1200/800?image=1040");
}

.center-text {
    color: white;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 5px;
}

.black-block {
    height: 300px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
}
