html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* table เต็มจอ */
table {
    width: 100%;
    height: 20vh;
    border-collapse: collapse;
}

/* cell */
td {
    width: 50%;
    text-align: center;
    font-size: 24px;
    border: 1px solid black;
}


.first {
    background-color: #c7cf8a;
}

.second {
    background-color: #f6c7b2;
}

@media screen and (max-width: 1000px) {
    tr {
        display: block;
    }

    td {
        display: block;
        width: 100%;
        height: 10vh;
        text-align:center;
        padding-top: 15vh;
        padding-bottom: 15vh;
    }
}
